@import 'vendor/casper';
@import 'syntax';

// Overwrite some styles from casper.css
pre.highlight {
  word-wrap: normal;
  code {
    white-space: pre;
  }
}

img.callout {
  float: right;
  margin: 10px;
  max-width: 45%;
}

a.post-tag {
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px dotted;
  &:hover {
    text-decoration: none;
    border: none;
  }
}
