@import 'vendor/casper';
@import 'syntax';

// Overwrite some styles from casper.css
pre.highlight {
  word-wrap: normal;
  code {
    white-space: pre;
  }
}

img.callout {
  float: right;
  margin: 10px;
  max-width: 45%;
}
